
.container p span{
    font-size: 22px;
    color: tomato;
    margin-left: 45px;
}
.fa-times{
    opacity: 0;
}
.fa-check{
    opacity: 1;
}
.container p .icon{
    position: absolute;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 30px;
    font-size: large;
    border-radius: 50%;
    color: violet;
    border:  2px solid royalblue;
}

.container #show_hide{
    color: black;
    font-size: 22px ;
    /* transform: translateX(260px) translateY(-34px); */
    cursor: pointer;
}

.pass_icon{
    margin-left: -140px;;
}

.fa-eye{
    font-size: 13px !important;
    color: #FAA61A !important;
}

.fa-eye-slash{
    font-size: 13px !important;
    color: #FAA61A !important;
}
.react-tel-input .flag-dropdown {
    border-radius: 42px !important;
   
}