* {
  box-sizing: border-box;
}
.resetpassword .login_main {
  margin-top: 20px;
  padding-left: 5%;
}

.resetpassword .login_logo {
  width: 186px;
  height: 37px; 
  margin-top: 48%;
}

.resetpassword .welcom_text {
  width: 451px;
  height: 49px;
  left: 730px;
  top: 305px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  background: -webkit-linear-gradient(94.64deg, #ed1c24 0%, #faa61a 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resetpassword input[type="password"] {
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #a7a9ac;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.resetpassword input:focus {
  /* border-image:linear-gradient(94.64deg, #ED1C24 0%, #FAA61A 100%); */
  outline: 2px solid orange;
  border: none;
  box-shadow: 0px 4px 4px rgba(247, 131, 29, 0.18);
}

.resetpassword .form_label {
  margin-top: 22px;
  text-align: left;
  width: 100%;
  height: 15px;
  left: 730px;
  top: 407px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.resetpassword .input_box {
  width: 480px;
  height: 50px;
  left: 730px;
  top: 436px;
  background: #ffffff;
  border-radius: 42px;
  font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.resetpassword .input_box2 {
  width: 480px;
  height: 50px;
  left: 730px;
  top: 436px;
  background: #ffffff;
  border-radius: 42px;
  font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.resetpassword .login_button {
  width: 480px;
  height: 50px;
  left: 730px;
  top: 677px;

  background: linear-gradient(94.64deg, #ed1c24 0%, #faa61a 100%);
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  border: none;
  margin-top: 20px;
}

.resetpassword .login_banner_img {
  width: 435.15px;
  height: 500.73px;
left: 158.16px;
top: 274.13px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin-top: 25%;
}

.resetpassword .vector_img{
  margin-top: -11%;
    margin-left: -25%;
}


.resetpassword .login_text {
  width: 41px;
  height: 17px;
  left: 950px;
  top: 693px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}

/* Password  CSS */

.resetpassword .container p span {
  font-size: 13px !important;
  margin-left: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
.resetpassword .container p span ::before {
  color: #128807 !important;
}
.resetpassword .fa-times {
  font-size: 17px !important;
  opacity: 1;
  color: #ef2924 !important;
  border: 1.5px solid #ef2924 !important;
}
.resetpassword .fa-check {
  font-size: 17px !important;
  opacity: 0;
  color: #128807 !important;
  border: 1.5px solid #128807 !important;
}
.resetpassword .container p .icon {
  position: absolute;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: large;
  border-radius: 50%;
}
.resetpassword .invalid-text{
  opacity: 1;
  color: red;
}
.resetpassword .valid-text{
  opacity: 1;
  color: #EF2B24;
}

.resetpassword .container #show_hide {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #faa61a;
  cursor: pointer;
}

.resetpassword .passwordicon {
  border: none;
  background: transparent;
  color: #f7851d;
}
.resetpassword .password_validation{
  display: none;
}
.resetpassword .password_validation {
  background: white;
  width: 40%;
  height: 136px;
  box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 11px;
  margin-left: -241px;
  margin-top: -12%;
  position: absolute;
  padding-left: 2%;
  padding-top: 2%;

}
.resetpassword .password_validation::after {
  z-index: -99;
  content: "";
  position: absolute;
  width: 30px;
  height: 28px;
  margin-left: 222px;
  bottom: 0;
  top: calc(20% - -22px);
  left: 0;
  box-sizing: border-box;
  border: 9px solid #fff;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(223deg);

}
.resetpassword .Icontoggle {
  margin-left: 385px;
  position: absolute;
  transform: translate(-25% , -236%);
}

.resetpassword .sucess_validation {
  opacity: 0;
  background: white;
  width: 40%;
  height: 68px;
  box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 11px;
  margin-left: -241px;
  margin-top: -12%;
  position: absolute;
  padding-left: 2%;
  padding-top: 2%;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));

}
.resetpassword .sucess_validation::after {
  z-index: -99;
  content: "";
  position: absolute;
  width: 30px;
  height: 28px;
  margin-left: 222px;
  bottom: 0;
  top: calc(20% - -30px);
  left: 0;
  box-sizing: border-box;
  border: 9px solid #fff;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  /* box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1); */
  transform: rotate(223deg);

}
.resetpassword .sucess_validation::before {
  z-index: 10;
  /* content: ""; */
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 0;
  bottom: 0;
  top: calc(25% - 5px);
  left: 0;
  box-sizing: border-box;
  border: 5px solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.resetpassword .sucess-text{
  position: absolute;
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #128807;
}


.resetpassword .password_match {
  opacity: 0;
  background: white;
  width: 213px;
  height: 45px;
  box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 11px;
  margin-left: -225px;
  margin-top: -12%;
  position: absolute;
  padding-left: 2%;
  padding-top: 2%;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));

}
.resetpassword .password_match::after {
  z-index: -99;
  content: "";
  position: absolute;
  width: 16px;
  height: 9px;
  margin-left: 211px;
  bottom: 0;
  top: calc(20% - -24px);
  left: 0;
  box-sizing: border-box;
  border: 9px solid #fff;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  /* box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1); */
  transform: rotate(223deg);

}
.resetpassword .password_match::before {
  z-index: 10;
  /* content: ""; */
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 0;
  bottom: 0;
  top: calc(25% - 5px);
  left: 0;
  box-sizing: border-box;
  border: 5px solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.resetpassword .match-text{
  position: absolute;
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #128807;
}

.resetpassword .password_notmatch{
  display: none;
}

.resetpassword .password_notmatch {
  opacity: 1;
  background: white;
  width: 213px;
  height: 45px;
  box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 11px;
  margin-left: -225px;
  margin-top: -12%;
  position: absolute;
  padding-left: 2%;
  padding-top: 2%;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
}
.resetpassword .password_notmatch::after {
  z-index: -99;
  content: "";
  position: absolute;
  width: 16px;
  height: 9px;
  margin-left: 211px;
  bottom: 0;
  top: calc(20% - -24px);
  left: 0;
  box-sizing: border-box;
  border: 9px solid #fff;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  /* box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1); */
  transform: rotate(223deg);

}
.resetpassword .password_notmatch::before {
  z-index: 10;
  /* content: ""; */
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 0;
  bottom: 0;
  top: calc(25% - 5px);
  left: 0;
  box-sizing: border-box;
  border: 5px solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.resetpassword .notmatch-text{
  position: absolute;
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #EF2924;
}

.resetpassword .footer_logo{
  position: absolute;
width: 112.99px;
height: 22px;
left: 50px;
}
.resetpassword .footer_text{
width: 96px;
height: 6px;
left: 131px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;
margin-left: 38px;
color: #A7A9AC;
}

.resetpassword .banner-img{
  /* background: #FFFDF9; */
  margin:auto;
  display: block; 
  text-align: center;
  position: static;
}
.resetpassword .banner-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 45.33%;
  height: 100%;
 
  background: url('./images/Vector.png') no-repeat;
  background-size: 342px 458px;
  z-index: -1;
}
@media screen and (max-width: 1920px) and (min-width: 1660px){

.resetpassword .login_banner_img{
  /* background: #FFFDF9; */
  margin:auto;
  display: block; 
  text-align: center;
  position: static;
  width: 127%;
  height: 100%;
  margin-left: -35%;
  padding-top: 181px;
}
.resetpassword .banner-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
 
  background: url('./images/Vector.png') no-repeat;
  background-size: 428px 611px;
  z-index: -1;
}
.resetpassword .login_logo {
  width: 186px;
  height: 37px;
  margin-top: 114%;
}
.resetpassword .footer_padding{
  margin-left: -16%;
}

}

@media screen and (max-width: 1556px)  and (min-width: 1440px){

.resetpassword .login_banner_img{
  margin: auto;
  display: block;
  text-align: center;
  position: static;
  width: 114%;
  height: 100%;
  margin-left: -7%;
  padding-top: 185px;
}
.resetpassword .banner-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
 
  background: url('./images/Vector.png') no-repeat;
  background-size: 382px 516px;
  z-index: -1;
}
.resetpassword .login_logo {
  width: 186px;
  height: 37px;
  margin-top: 114%;
}

}


/* @media screen and (max-width: 1199px) and (min-width: 992px) {
  .resetpassword .password_validation {
    background: white;
    width: 49%;
    box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 11px;
    margin-top: -13%;
    margin-left: -233px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .resetpassword .password_validation {
    background: white;
    width: 67%;
    box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 11px;
    margin-top: -13%;
    margin-left: -233px;
  }
} */